/* menu */
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;    
}
#main-mav-top ul li:hover a{
  color: black;
}
#main-mav-top ul li ul li:hover a {
  color: red;
  background-color: #FFFFFF;

}
/* nav fixed top  */
#main-mav-top-fixed ul li{
    z-index: 1111;
}
#main-mav-top-fixed ul li a{
    color: #FFFFFF;
}
#main-mav-top-fixed ul li:hover a{
    color: black;
}
#main-mav-top-fixed ul li ul li:hover a {
    color: red;
    background-color: #FFFFFF;
}
.ul-sub li:last-child{
  display: none;
}
/* fix top NAV */
#fixNav{
  width: 100%;
  height: 25px;
  display: block;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Äá»• bÃ³ng cho menu*/
  position: fixed; /*Cho menu cá»‘ Ä‘á»‹nh 1 vá»‹ trÃ­ vá»›i top vÃ  left*/
  top: 0; /*Náº±m trÃªn cÃ¹ng*/
  left: 0; /*Náº±m sÃ¡t bÃªn trÃ¡i*/
  z-index: 100000; /*Hiá»ƒn thá»‹ lá»›p trÃªn cÃ¹ng*/
  display: none;
}
#main-mav-top ul li a{
  color: #FFFFFF;
}

/* card style */
.card-img{
  width: 50px;
  height: 40px;
}
/* / ====================================laptop */
.thumbnail {
  height: 370px;
  position: relative;
 }
 .thumbnail .hienthi{
    height: 220px;
    transition: all ease 0.9s; 
    padding: 0;
 }
 .thumbnail .hienthi img{
  display: block;
  height: 150px;
  width: 55%;
  transition: all ease 0.9s; 
  display: block;
  margin: 0 auto;
 }
.thumbnail .tomtat {
    opacity: 0;
    height: 300px; 
    width: 100%;
    /* background: #003300; */
    color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px 5px 0 0;
    transition: all ease 0.9s;   
    transform: rotate(0deg);
    padding: 5px;
 }
 .thumbnail:hover .tomtat {
    opacity: 1;
    transition: all ease 0.9s; 
    -webket-transform: rotate3d(30deg, 50deg, 180deg, angle);
    
 }
  .thumbnail .tomtat .thongtin{
    height: 280px;
  }
  .thumbnail .tomtat .price{
    height: 70px;
    
 }
 .thumbnail .tomtat .price span{
  color: red;
 }
 .thumbnail:hover .hienthi {
    opacity: 0;
    transition: all ease 0.9s;
    
 }
 .thumbnail .tomtat a li {
  list-style-type: disc;
  padding-left: 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .caption {
  height: 180px;
  list-style: none;
  display: block;
}
 .caption li {    
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .caption .title-pro{
    color:#2980b9;
 }
  .caption h1{
    margin: 0;
    padding: 0;
  }
 .tomtat a:hover{
  text-decoration: none;
 }
 .no-padding{
  padding:1px;
 }
 .bot-nav {
  
  margin-bottom: 0;
 }
.bot-nav li {
  display: inline-block;
  float: left;
  margin-top: -5px;
}
.bot-nav li a{
  color: #FFFFFF;
}
.navbar-fixed-bottom {
  border-radius: 5px 5px;
  height: 35px;
  z-index: 11111111111;
}
/* / =======================mobile thumbnail */
.mobile{
  height: 260px;
  position: relative;
}
.mobile .bt{
   height: 210px;
  transition: all ease 0.9s; 
  padding: 0;
}
.mobile .ct {
    opacity: 0;
    height: 200px; 
    width: 98%;
    /* background: #003300; */
    color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px 5px 0 0;
    transition: all ease 0.9s;   
    transform: rotate(0deg);
    padding: 10px;
}
.mobile .ct li{
  list-style: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile .ct a:hover {
  text-decoration: none;
}
.mobile:hover .ct{
  opacity: 1;
}
.mobile:hover .bt{
  opacity: 0;
}
.mobile .image-m {
  width: 40%;
 height: 200px;
}
.mobile .image-m img {
  width: 95%;
  height: 155px;
  margin: auto;
}
.mobile .intro {
  width: 60%;
  height: 200px;
}
.mobile .intro li {
  list-style: none;
}

.mobile .intro li:last-child{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-mobile {
  color: #2980b9;
  font-size: 16px;
}
.add{
  opacity: 0;
  transition: all ease 0.9s;   
}
.mobile:hover .add{
  opacity: 1;
  transition: all ease 1.9s;    
}
/* /======================================pc thumbnail =============== */
.pc{
  height: 270px;
  position: relative;
}
.pc .bt{
   height: 200px;
    padding: 0;
}
.pc .intro{
    transition: all ease 0.4s; 
}
.pc .ct {
    opacity: 0;
    height: 200px; 
    width: 60%;
    color: black;
    position: absolute;
    top: 0px;
    left: 40%;
    border-radius: 5px 5px 0 0;
    transition: all ease 0.9s;   
    transform: rotate(0deg);
    padding: 10px;
}
.pc .ct li{
  list-style: none;
}
.pc .ct a:hover {
  text-decoration: none;
}
.pc:hover .ct{
  opacity: 1;
}
.pc:hover .intro{
  opacity: 0;
}
.pc .image-m {
  width: 40%;
 height: 200px;
}
.pc .image-m img {
  width: 95%;
  height: 195px;
}
.pc .intro {
  width: 60%;
  height: 200px;
  margin-top: 0;
}
.pc .intro li {
  list-style: none;
}
.intro h1 .title-pc {
  color: #2980b9;
  font-size: 16px;

}
.add{
  opacity: 0;
  transition: all ease 0.9s;   
}
.pc:hover .add{
  opacity: 1;
  transition: all ease 1.9s;    
}
/*-------------------------------------------------- gioi thieu */
.gioithieu li{
  list-style: none;
  font-size: 16px;
  font-style: normal;
}
.gt-left{
  width: 50%;
  height: 100%;
  font-style: normal;
}
.gt-right{
  width: 50%;
  height: 100%;
  font-style: normal;
}
/* ========================back to top button ==================*/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    font-style: normal;
      border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 22px;
    padding: 11px 15px;
    color: #fff;
    background: #434345;
    border: none;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.4);
}
.back-to-top:hover {
  background: #ff7e00;
}
/* ------------------------------------------------footer r---------======================= */
footer{
  height: 30px;
  text-align: center;
}
/* tin tun */
.new-cat li{
    list-style: none;
    padding-top: 5px;
    padding-left: 5px;
}
.new-cat li a{
    font-size: 15px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-title{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
    margin: 5px;
}
.sum{
  padding-right:0;
}
/* ============== style san pham mobile================= */
.khuyenmai,.chinhsach li{
 list-style: none;
 line-height: 26px;
}
.khuyenmai span{
  color: blue;
}
.chinhsach span{
  color: #16a085;
}

.img-box{
  height: 280px;
}
.img-mobile{
  height: 270px;
  width: 75%;
  display: block;
  margin: 0 auto;
  transition: all ease 0.9s; 
}
.img-mobile:hover{
  height: 279px;
  width: 85%;
  display: block;
  margin: 0 auto
}
.mobile-price{
 margin-left: 25%;
 color: #FEFEFE;
 font-size: 18px;
}
.btn-buy{
  font-size: 20px;
}
.img-pro{
  display: block;
  width: 98%;
  height: 250px;
  margin: 0 auto;
}

.preview-products img{
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 95%;
}
.SeeMore{
  text-align: center;
  margin-left: 45%;
}
/* ....... */
#links a:hover{
  text-decoration: none;
}

/* login dailog form */
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 450px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
#login-modal .modal-dialog {
    margin-top: 100px;
}

.loginmodal-container .text-center-home {
    font-size: 20px;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 13px;
    text-align: center;
}
.accordion-inner{
  display: block;
}
.accordion-inner img{
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 90%;
  max-height: 70%;
}
.img-new{
  display: block;
  max-width: 90%;
  max-height: 70%;
  position: relative;
  margin: 0 auto;
}

/*UPDATE CSS*/
.top-header {
    background: #3f3f3f;
    line-height: 30px;
    padding: 8px 0;
    color: #c2c2c2;
    font-size: 10pt;
}


.right-align li {
    float: left;
    margin-left: 40px;
    list-style: none;
}

.right-align li a {
    color: #c2c2c2;
}

.right-align li a:hover {
  text-decoration: none;
}

.mid-header {
  background: #000;
}

.top-header p, .top-header ul {
    margin-bottom: 0;
}

img.lol-main {
    padding: 50px 0;
    width: 100%;
}

#mainSearch {
    width: 100%;
    padding: 60px 20px 50px 50px;
    position: relative;
}

.mid-header .frm-input {
  width: 100%;
}

.suggest-search {
    display: inline-block;
    margin: 10px 0;
    font-size: 14px;
}

.suggest-search .red {
    color: #f00;
    float: left;
}

.suggest-search ul {
    float: left;
    margin-left: 10px;
}

.suggest-search ul li {
    float: left;
    margin-right: 15px;
    list-style: none;
}

.suggest-search ul a {
    color: #fff;
    text-decoration: none;
    font-size: 13px
}

.suggest-search ul a:hover {
    text-decoration : underline;
}

.box-support {
    padding-top: 70px;
    line-height: 20px;
        font-size: 14px;
}

.support-address {
    width: 60%;
    float: left;
    text-align: center;
}

.support-hotline {
    width: 40%;
    float: right;
    text-align: right;
}

span.d-block.upper.redcolor {
    text-transform: uppercase;
    color: #f00;
    float: left;
    width: 100%;
}

a.whitecolor {
    color: #fff;
}

span.phone-numbers-inline a {
    color: #fff;
}

.box-support a {
    cursor: pointer;
    text-decoration: none;
}

/*MEGA MENU*/

#mainMenu .mn-lv1 {margin: 5px 10px 0;}

#mainMenu .mn-lv1 a.a-lv1 {
  color: #fff;
  padding:  8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-transform: uppercase;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0);
}
#mainMenu .mn-lv1 a.a-lv1:hover {
    text-decoration: none;
    color: #d71921;
    border-color: #d71921;
    border: 1px solid;
    border-radius: 10px;
}

.mt-20 {
    margin-top: 25px !important;
}
#mainMenu .mn-lv1 {
    float: left;
}

#mainMenu .cd-dropdown-content a, #mainMenu .cd-dropdown-content ul a {
    color: #111433;
}

#mainMenu .dropdown-menu a {
    color: #fff;
    border: 1px solid #000;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.navfixed {
  position:fixed;
  top:0; 
  left:0;
  z-index: 1000;
  width: 100%;
  border-radius: 0 !important;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 10px;
}

/*NEW BOOTSTRAP ROLE 5 COLUMNS*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.mid-header .navbar-default .navbar-nav>.active>a {
    background-color: #ff0000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#megaMenu .mn-lv1 {
    margin-right: 5px;
}

#owl-partner li {
    list-style:none;
}

.items-adv img {
    width: 100%;
}

.items-adv {
    margin: 10px 0;
}

.nopd-left {
    padding-left: 0;
}

.nopd-right {
    padding-right: 0;
}

.text-center-home {
    font-size: 30px;
    font-weight: normal;
    margin: 50px 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;  
}

.text-center-home hr {
    border: 1px solid;
    background: #333;
    width: 90px;
    margin: 15px auto;
    padding: 0;
}

.list-product .thumbnail {
    border: none;
}

.list-product .item-pro {
    padding: 10px;
}

.item-pro:hover {
    border-color: #ccc;
    -webkit-box-shadow: 0pt 0pt 5pt 3px #ccc;
    -moz-box-shadow: 0pt 0pt 5pt 3px #ccc;
    box-shadow: 0pt 0pt 5pt 3px #ccc;
    cursor: pointer;
}

.pro-title h1 a {
    margin-top: 10px;
    height: 60px;
    line-height: 30px;
    overflow: hidden;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;  
}

.pro-title h1 {
    text-align: center;
}

.pro-price {
    color: red;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;  
}

.box-advs {
    margin: 50px 0;
}

.owl-listChoise .item-pro {
  padding: 10px;
}

.owl-listChoise .owl-item {
  padding: 5px 10px;
}

.owl-listChoise .owl-prev {
    position: absolute;
    top: 40%;
    left: -5px;
    border-radius: 50% !important;
    background: #000 !important;
    padding: 8px 15px 7px 10px !important;
}
#owl-detail .owl-item li {
    text-align: center;
}

.owl-listChoise .owl-next {
    position: absolute;
    top: 40%;
    right: -5px;
    background: #000 !important;
    border-radius: 50% !important;
    padding: 8px 10px 7px 14px !important;
}

.owl-listChoise .owl-buttons i:before {
  font-size: 30px;
}

#box-collection {
    background: #000;
    color: #fff;
    padding-bottom: 30px;
}

.collection-r2 {
    padding-top: 17px;
}

#box-collection img {
    border: 2px solid #fff;
}

#box-branch {
    background: #191919;
    color: #fff;
}

.al-center {
  text-align: center;
}

.big-font {
  font-size: 18px;
  line-height: 30px;
}

#box-branch .row {
  margin-bottom: 20px;
}

#box-branch span {
  line-height: 26px;
  display: inline-block;
}

#box-branch span i {
  margin-right: 5px;
}

#box-branch span a {
  text-decoration: none;
  color: #fff;
}

#box-branch span a:hover {
  cursor: pointer;
}

.box-intro-footer {
    background: #dadada;
    padding: 50px 0;
}

.box-intro-footer a {
  text-decoration: none;
  color: #333;
}

.box-intro-footer h3 {
    font-size: 20px;
    padding-bottom: 20px;
    position: relative;
}

.box-intro-footer a:hover {
    text-decoration: underline;
}

.box-intro-footer li {
    margin-bottom: 10px;
    list-style-type: circle;
}

.footer-social li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
}

.footer-social i {
    font-size: 26px;
}

.footer-social i:hover {
    color: #f00;
}

ul.footer-social {
    margin-top: 30px;
}

.footer-payment {
  line-height: 30px;
}

/*PRODUCT DETAIL*/
.tbreadcrumb {
    padding: 15px 45px 15px 10px;
  font-size: 16px ;
  color: #000;
}
.tbreadcrumb a {
   font-size: 16px !important;
  color: #000 !important;
}

.tbreadcrumb a:hover {
  text-decoration: none;
}

.list-mar-50 {
  margin: 50px 0;
}

.box-img-galary .img-media-box {
  float: left;
  margin-bottom: 30px;
  width: 100%;
}

.box-img-galary .img-slider {
  float: left;
  width: 100%;
}

#owl-detailpro .img-thumbnail {
  border: none;
  border-radius: none;
}

#owl-detailpro.owl-listChoise .owl-buttons i:before {
  font-size: 26px;
}

.box-black {
    background: #000;
    color: #fff;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.two-row-1 {
    width: 70%;
    float: left;
    padding: 20px;
}
.two-row-2 {
    width: 30%;
    float: left;
    padding: 20px;
}

h3.pro-detail-title a {
    color: #fff;
}

h3.pro-detail-title a:hover {
  text-decoration: none;
}

.box-button, .box-attributes {
  float: left;
  width: 100%;
  margin: 20px 0;
}

.pro-detail-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

label.ok-status i {
    margin-right: 5px;
}

label.ok-status, label.not-status {
    float: right;
}

.box-2-items {
    width: 45%;
    float: left;
    text-transform: uppercase;
    margin-right: 5%;
}

.box-2-items i {
    margin-right: 5px;
}

.box-2-items.end {
  margin-right: 0;
  margin-left: 5%;
}

.pro-header-attr {
  text-transform: uppercase;
    font-size: 22px;
    margin: 30px 0;
}

.box-attributes td.td-col-1 {
    background: #EDEDED;
    width: 30%;
    border-top: 1px solid #fff !important;
    padding-left: 8px !important;
}
.box-attributes td {
    border-top: 0 !important;
    padding-left: 20px !important;
    font-size: 15px;
}
.box-sales {
    float: left;
    width: 100%;
    background: #dadada;
    padding: 30px 0;
}

.box-sales .panel-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 10px 0;
}

.box-sales .chinhsach {
  padding: 10px 5px;
    line-height: 26px;
}

.box-sales .chinhsach span {
  margin-right: 5px;
}

.box-fulldesc .full-content {
  line-height: 24px;
}

.box-w-50 {
  width: 50%;
  margin-top: 50px;
}

button.no-product {
    width: 100%;
    padding: 20px 10px;
    font-size: 20px;
}

/*CART PAGE*/
.payment-form .paymethod {
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 16px;
}

.payment-method {
    padding: 10px;
    background: #ECECEC;
    margin-bottom: 10px;
    width: calc(100% - 15px);
    float: left;
}

.payment-form button,
.payment-form  a {
    padding: 15px 31px;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

/*CATEGORY*/
#mainMenu li.active a {
    color: #d71921 !important;
}

#mainMenu li.active .dropdown-menu a {
color: #000 !important;
    background: #fff;
}

#category-list {
  margin-bottom: 30px;
}

#category-list .item-pro {
    margin-bottom: 25px;
}

.item-pro .pro-price {
    margin-bottom: 10px;
}

.center-page {
  text-align: center;
}

.center-page .pagination .active span {
    background: #000;
    border: 1px solid #000;
}

.center-page .pagination a {
    border: 1px solid #000;
    color: #000;
}

.center-page .pagination .disabled span {
    color: #000;
    border: 1px solid #000;
}

.center-page .pagination li a:hover {
    background: #656565;
    color: #fff;
    border: 1px solid #000;
}

.news-list .panel-info>.panel-heading {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.news-list .panel-info {
  border: 1px solid #a9a9a9;
}

.news-list .row {
  margin-bottom: 10px;
}

.news-list a {
  color: #3c8ba2;
  text-transform: capitalize;
  text-decoration: none;
}

.news-list .panel-title {
  font-size: 18px;
  text-transform: uppercase;
}

.news-list, .news-detail  {
  line-height: 26px;
}
.news-detail h4 {
  text-transform: capitalize;
  margin: 10px 0;
}
.news-list .title-news {
  padding: 15px;
}

.news-list .title-h3 {
  padding: 15px 0;
}

.btn-post-order {
      padding: 15px 31px;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

ul.form-customer {
    margin: 15px 0;
}

ul.form-customer li label {
    width: 180px;
    margin-bottom: 30px;
}

ul.form-customer li input {
        padding: 5px;
    width: calc(100% - 250px);
}

.head-h3 {
text-transform: uppercase;
    color: #666;
    font-size: 15px;
    margin: 20px 0;
    font-weight: bold;
}

/*CONTACT*/
#mainContact label {
  margin-bottom: 10px;
}

.owl-partner {
  margin-top: 15px;
}

div#resultSuggest {
    position: absolute;
    background: #fff;
    z-index: 10000;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}
ul.suggest-items {
    float: left;
    max-height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

ul.suggest-items li {
    width: 100%;
    float: left;
        border-bottom: 1px solid #ccc;
    padding: 10px 0;
}


.suggest-items img {
  float: left;
}

.suggest-items label {
  float: left;
     color: #565656;
    margin-left: 10px;
    text-transform: capitalize;
    line-height: 60px;
}

.suggest-items li a:hover, .suggest-items label:hover {
  cursor: pointer;
}

.suggest-items li a
{
      float: left;
    width: 100%;
}

/*.dropdown-menu, .btn, input, textarea, button, .pagination, .pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span  {
  border-radius: 0 !important;
}*/

.panel-success, .panel, .panel-heading {
    border-color: #dadada !important;
    border-radius:  0 !important;
}

.cd-dropdown-trigger.a-lv1:hover {
    color: #000 !important;
}

.cd-dropdown-wrapper a {
    text-decoration: none;
}

.list-intro {
    margin-left: 20px;
}

.menu-img {
    border: 1px solid #dadada;
    width: 120px !important;
    height: auto;
}

#mainMenu .dropdown-menu {
    border-top: 0;
    padding: 15px 10px;
    margin: 18px 0 0;
    background: #000 !important;
    border-radius: 0;
}

#owl-partner {
    margin: 50px 0 30px 0;
}

.prev-name {
    text-transform: uppercase;
    font-size: 20px;
}

.tbreadcrumb .fa-chevron-right {
    margin: 0 5px;
    font-size: 13px;
}

#mainContact .btn-primary {
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 50px;
}

.list-product .row {
  margin-bottom: 10px;
}

.free-ship {
    line-height: 25px;
    /* margin-top: 100px; */
    font-size: 14px;
    width: calc(100% + 15px);
}

.free-ship .box-2-items {
    background: #ECECEC;
    padding: 10px;
}

.camera_caption {
  text-align: center;
  font-style: italic;
}

.loginmodal-container .text-center-home {
  margin: 20px 0;
}   

.loginmodal-container input {
  padding: 10px 20px;
}

.loginmodal-container .btn-login {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  background: #000;
}
.loginmodal-container .close {
    opacity: 0.6;
}
.loginmodal-container .close:hover {
    opacity: 1;
}

.loginmodal-container .form-control {
    height: 40px;
}

.panel.panel-default button {
    padding: 15px 10px;
}

.panel.panel-default input {
    padding: 25px 10px;
}
.alert {
    border-radius: 0;
}

/*RESPONSIVE*/
@media only screen and (max-width: 767px) {
    #mainSearch .suggest-search {
        display: none;
    }
    .welcome-store {
        font-size: 13px;
    }
    .logo-box {
        text-align: center;
    }
    .logo-box img {
        width: 70%;
        padding: 20px 0;
    }
    #mainSearch {
        width: 100%;
        padding: 20px;
        position: relative;
        margin: 0;
        border-top: none;
        border-bottom: 0;
        box-shadow: none;
    }
    .box-support {
        line-height: 20px;
        margin: 14px 0;
        float: left;
        width: 100%;
        padding: 0;
    }
    .support-address {
        width: 50%;
        float: left;
        text-align: center;
    }
    .support-hotline {
        width: 50%;
        float: right;
        text-align: center;
    }
    
    footer {
        line-height: 20px !important;
    }
    

}
.full-content img, .full-content video, full-content iframe {
    max-width: 100% !important;
}
.right-align .dropdown-menu li {
  margin-left: 0;
}
.right-align a.dropdown-toggle {
  text-transform: capitalize;
}
.customer-page h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

p.category-well {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.box-filter {
    float: left;
    width: 100%;
    margin: 30px 0;
    padding: 20px;
    background: #f1f1f1;
}

.box-filter label {
    margin-bottom: 5px;
    font-style: italic;
}

.btnGroup .btn {
  padding: 7px 15px;
  text-transform: uppercase;
  margin-left: 10px;
}

.btnGroup {
  line-height: 70px;
  text-align: right;
}

#cateFilter .form-group {
    margin-right: 0;
}
.pro-title {
    margin-top: 15px;
}

.caret {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .logo-box img {
    width: 50%;
  }
  .welcome-store {
      font-size: 13px;
  }
  .logo-box {
      text-align: center;
  }
  img.lol-main {
    padding: 20px 0;
  }
  #mainSearch {
    padding: 20px;
  }
  #mainSearch .input-group-btn {
    width: 1%;
  }
  .box-support {
    padding-top: 0;
  }
  .support-address {
    margin-bottom: 15px;
  }
  .support-hotline {
    text-align: left;
  }
}

@media only screen and (max-width: 1023px) {
  .items-adv .nopd-left {padding-left: 15px;}
  .items-adv .nopd-right {padding-right: 15px; margin-top: 5px;}
  .customer-page .text-center {
    text-align: left;
  }

    .cd-dropdown-content .cd-dropdown-gallery img {
        width: auto !important;
        height: 50px !important;
    }

  #mainMenu #dropMenu, #mainMenu .mn-lv1 {
        width: 100%;
    }
    #aRoot .caret {
        float: right;
    }
    #navRoot.dropdown-is-active {
        z-index: 100;
    }
    #navRoot.dropdown-is-active h2,
    #navRoot.dropdown-is-active .cd-dropdown-content a{
        color: #fff;
    }
    #navRoot.dropdown-is-active h2 {
        font-size: 18px;
        font-weight: bold;
    }
    .navfixed {
        background: #f00;
    }
    .text-center-home {
      font-size: 24px;
      margin: 30px 0;
    }  
    #category-list .row, .list-product .row {
        margin: 0;
    }
    #owl-partner {
        margin-top: 0;
    }
    .tbreadcrumb {
        padding: 20px;
    }
    .box-2-items {
        width: 100%;
        margin-bottom: 10px;
    }
    .box-2-items.end {
        margin-left: 0;
    }
    .product-page .row {
        margin: 0;
    }
    .box-black {
        width: 100%;
        margin-bottom: 0;
    }
    .full-content img, .full-content video, full-content iframe {
        width: 100% !important;
    }
    .box-w-50 {
        width: calc(100% - 30px);
        margin-left: 15px;
    }
    .list-mar-50, .box-sales {
        margin: 0;
    }
    .navfixed {
        background: #f00;
    }
    .owl-listChoise .owl-prev {
        left: -25px;
    }
    .owl-listChoise .owl-next {
        right: -25px;
    }
    .no-paddng {
        padding: 0;
    }
    .free-ship {
        margin-top: 20px;
    }
    .payment-form button, .payment-form  a, .btn-post-order {
        width: 100%;
    }

    ul.form-customer input, ul.form-customer button, ul.form-customer textarea {
        width: 100% !important;
    }
    ul.form-customer li label {
        margin: 10px 0;
    }
    div#resultSuggest {
        width: calc(100% - 40px);
    }
    #mainContact .frm-input, #mainContact .btn-primary {
      width: 100%;
    }
    #mainContact .form-group {
      margin-top: 10px;
    }
    .box-fulldesc {
      padding: 15px;
    }
    .right-align .pull-right {
        width: 100%;
    }
}

.form-horizontal .control-label {
  margin-bottom: 5px;
}

.item-news {
      border-bottom: 1px #dadada dotted;
    float: left;
    width: 100%;
    margin: 10px 0;
}
#mainSearch #txtkeyword {
      height: 40px;
    padding: 15px 12px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}
#mainSearch #submitSearch {
      padding: 10px 12px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
       border: none;
}

a#aRoot {
    font-size: 18px !important;
    padding: 18px 35px !important;
}
i.fa.fa-bars {
    margin-right: 5px;
}

.no-touch .cd-dropdown-trigger:hover {
    background-color: #da1818 !important;
    color: #fff !important;
    border: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
a#aRoot {
    border: none !important;
}

#mainMenu .dropdown-menu a:hover {
    text-decoration: none;
    color: #d71921;
    border-color: #d71921;
    border: 1px solid;
    border-radius: 10px;
    background: #000;
}

.navfixed #aRoot {
  border-radius: 20px;
  padding: 10px 35px !important;
  margin-top: 10px;
}

#mainMenu.navfixed .mn-lv1 {
  margin-top: 0;
}

.navfixed #aRoot.dropdown-is-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; 
}

#mainMenu.navfixed .mt-20 {
  margin-top: 20px !important;
}

#mainMenu i.fa.fa-circle {
    color: #000;
    font-size: 10px;
    float: left;
    padding: 20px 3px 20px 8px;
}

#dropMenu a:hover {
  color: #f00 !important;  
}
.a-title {
  text-transform: uppercase;
  color: #000;
}

#dropMenu a#aRoot:hover {
  color: #fff !important;
}
span.lienhe {
    font-weight: normal;
    font-size: 18px;
}
.graycolor {
    text-align: center;
    color: #999;
}

.text-center-home.left-align {
    text-align: left;
}

.box-comment .fb-comments, .box-comment .fb-comments span, .box-comment .fb-comments iframe {
    width: 100% !important;
}
.hotline, .buynow {
    height: 64px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    text-indent: -9999px;
    float: left;
}
.hotline {
    background: #1687c5 url('../images/nut-goi-dien-v2.png') center no-repeat;
}
.buynow {
    background: #da1818 url('../images/nut-mua-ngay.png') center no-repeat;
    background-size: 90%;
}

.box-attributes i.fa.fa-angle-right {
    float: right;
    margin-top: 4px;
}
.product-page {
    font-family: 'Roboto Condensed', sans-serif;
}
.pro-detail-price {
    font-size: 24px;
}
li.mediaSelected {
    width: 20%;
    float: left;
    margin-left: 20px;
}
.img-slider {
    margin-bottom: 30px;
}
.detail-img {
    float: left;
}

.mediaDetail {
    width:450px;
}
.mediaDetail ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.mediaDetail li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.mediaDetail img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0 !important;
}
ul.video-list {
    float: left;
    text-align: center;
    margin-top: 70px;
    margin-left: 50px;
}

ul.footer-social a {
    float: left;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
}

ul.footer-social i{
  width: 40px;
  height: 40px;
  z-index: 100000;
  text-indent: 9999px;
}

#owl-slider img {
    width: 100%;
}

.item-adv-3, .item-adv-4 {
    margin-top: 15px;
}

#owl-slider .owl-controls {
    bottom: 15px;
    position: absolute;
    left: calc(50% - 39px);
}

#owl-slider .owl-page span {
    background: #333;
    opacity: 1;
}

#owl-slider .owl-page.active span {
  background: #c00;
  opacity: 1;
} 
.panel-body- {
  margin: 20px 0;
}

.panel-body- table th {
    color: #666;
    font-size: 15px;
}

.cart-img {
    float: left;
    width: 30%;
}

.cart-group {
    float: right;
    width: 70%;
    font-size: 13px;
    text-transform: uppercase;
}

.cart-group a {
    float: left;
    width: 100%;
    margin: 20px 0 0;
    color: #333;
    font-weight: bold;
}

a.btn.btn-continue, .btn-out-submit {
    color: #fff;
    background: #333;
    border-radius: 0;
}

a.btn.btn-continue {
  margin-top: 15px;
}

.qty a {
  color: #333;
}
.box-checkout {
    float: left;
    width: 100%;
    margin: 30px 0;
    border-top: 1px solid #dadada;
}
.btn-out-submit:hover {
  color: #fff;
}
.btn-out-submit {
    margin-left: 180px;
    margin-top: 0;
    padding: 10px;
}
.row.free-ship i {
    font-size: 22px;
}

.message-done {
  line-height: 26px;
}

.message-done p {
  margin: 10px 0;
}

.cd-dropdown-content .cd-secondary-dropdown.is3col > li {
    width: 33%;
}
